@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


// Project Colors
$primary-color: rgba(255, 254, 254, 0.959);
$background-color: rgba(0, 0, 0, 0.966);
$header-color: rgba(31, 31, 31, 0.829);
$text-color: rgb(17, 17, 17);
$black-color: #010101;
$main-font: 'Poppins', sans-serif;