@import 'variables';

.projects-container {
  
  .projects-card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 24rem));
      justify-content: center;
      grid-gap: 5rem;
      margin-left: 3rem;
    }
  
}