name: Release
on:
  push:
    branches: [develop]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Extract Commit Data
        uses: rlespinasse/git-commit-data-action@v1.x

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{secrets.AWS_REGION}}

      - name: Write Config File
        uses: jsdaniell/create-json@1.1.2
        id: create-json
        with:
          name: "Config.json"
          json: ${{ secrets.CONFIG}}
          dir: "./src/config"

      - name: Node Runner
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Building project
        run: |
          yarn
          npm run build

      - name: Deploy to S3 bucket
        run: aws s3 sync ./build/ ${{secrets.S3_BUCKET}} --delete

      - name: Merge To Master
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          commit-message: ${{ env.GIT_COMMIT_MESSAGE }}
          committer: ${{ env.GIT_COMMIT_AUTHOR_NAME}} <${{env.GIT_COMMIT_AUTHOR_EMAIL}}>
          body: |
            New Commit
            - Auto-generated by [create-pull-request][1
            [1]: https://github.com/QuentinRK/create-pull-request
          title: "Automated"
          labels: automated pr
          branch: master
          base: develop
          reviewers: QuentinRK
